.features{

display:grid;

grid-template-columns: 1fr 1fr;

padding:120px 8%;

gap:60px;

background:white;

font-family:Inter;

}



/* LEFT */

.tag{

color:#16a34a;

font-weight:1000;

margin-bottom:20px;

letter-spacing:2px;

}


.left h1{

font-size:60px;

font-weight:800;

line-height:1.1;

margin-bottom:40px;

}


.left span{

color:#1a8a5a;

}



/* IMAGE AREA */

.image-area{

position:relative;

display:flex;

align-items:center;

}




/* POS FLOAT */

.pos{

width:280px;

animation: float 5s ease-in-out infinite;

}



/* DASHBOARD CARD */

.dashboard-card{

position:absolute;

bottom:-30px;

left:160px;

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 20px 40px rgba(0,0,0,.15);

width:260px;

animation: float 6s ease-in-out infinite;

}



/* FLOAT KEYFRAME */

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0px);

}

}



.dots{

display:flex;

gap:6px;

margin-bottom:10px;

}


.dot{

width:10px;

height:10px;

border-radius:50%;

}


.red{background:#ef4444;}
.yellow{background:#f59e0b;}
.green{background:#16a34a;}


.dashboard-card h2{

margin:0;

}


.dashboard-card p{

color:#666;

margin-bottom:10px;

}



/* GRAPH ANIMATION */

.graph{

height:60px;

background:linear-gradient(90deg,#16a34a,#4ade80);

border-radius:6px;

opacity:.4;

}



/* RIGHT */

.right{

display:flex;

flex-direction:column;

gap:20px;

}



/* CARD */

.card{

display:flex;

gap:20px;

padding:25px;

border-radius:12px;

border:1px solid #eee;

transition:.3s;

background:white;

}


.card:hover{

box-shadow:0 10px 30px rgba(0,0,0,.1);

transform: translateX(10px);

border-color:#16a34a;

}


.icon{

font-size:26px;

}
