.services {

padding: 140px 8%;

background: white;

font-family: Inter;

}


/* HEADER */

.header {

text-align: center;

margin-bottom: 120px;

}


.header h1 {

font-size: 52px;

font-weight: 800;

color: #0f172a;

}


.header span {

color: #1a8a5a;

}


.header p {

color: #64748b;

margin-top: 20px;

}



/* STACK CONTAINER */

.stack-container {

position: relative;

}



/* CARD */

.service-card {

position: sticky;

top: 140px;

display: grid;

grid-template-columns: 1fr 1fr;

gap: 60px;

padding: 60px;

margin-bottom: 0px;

border-radius: 30px;

background: white;

box-shadow:

0 40px 80px rgba(0,0,0,0.12);

transition: 0.3s;

}



/* IMAGE */

.image {

background: #f8fafc;

padding: 40px;

border-radius: 20px;

}


.image img {

width: 100%;

height: 320px;

object-fit: contain;

}



/* CONTENT */

.content .icon {

width: 50px;

height: 50px;

background: #dcfce7;

border-radius: 12px;

display: flex;

align-items: center;

justify-content: center;

margin-bottom: 20px;

color: #16a34a;

}


.content h2 {

margin-bottom: 10px;

font-size: 28px;

}


.content p {

color: #64748b;

margin-bottom: 20px;

}


.content ul {

list-style: none;

padding: 0;

margin-bottom: 20px;

}


.content li {

display: flex;

gap: 10px;

margin-bottom: 10px;

color: #475569;

}


.content button {

background: linear-gradient(

135deg,

#16a34a,

#22c55e

);

color: white;

border: none;

padding: 14px 30px;

border-radius: 12px;

cursor: pointer;

font-weight: 600;

box-shadow:

0 20px 40px rgba(22,163,74,.3);

}



.content button:hover {

transform: translateY(-5px);

}



/* MOBILE */

@media(max-width:900px){

.service-card{

grid-template-columns:1fr;

position:relative;

top:0;

}

}
