.navbar-wrapper {

  width: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #e2e8f0;

}



.navbar-container {

  max-width: 1200px;
  margin: auto;
  padding: 1rem 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}



.navbar-logo img {

  height: 38px;

}




.navbar-links {

  list-style: none;
  display: flex;
  gap: 2rem;

}



.nav-link {

  text-decoration: none;
  font-weight: 500;
  color: #0f172a;
  position: relative;
  cursor: pointer;

}



.nav-link:hover {

  color: #1a8a5a;

}

/* ACTIVE LINK */

/* Navbar active link */
.nav-link.active {
  color: #1a8a5a;
  border-bottom: 3px solid #1a8a5a; /* adds line below */
  padding-bottom: 4px; /* space between text and line */
}

/* Dropdown active link */
.dropdown-link.active {
  background: #f1f5f9;
  color: #1a8a5a;
  border-bottom: 3px solid #1a8a5a;
  padding-bottom: 4px;
}





/* DROPDOWN */



.dropdown {

  position: relative;

}



.dropdown-menu {

  position: absolute;
  top: 35px;
  left: 0;

  background: white;

  border-radius: 8px;

  padding: 10px 0;

  list-style: none;

  width: 200px;

  opacity: 0;
  visibility: hidden;

  transform: translateY(10px);

  transition: 0.3s;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

}



.dropdown:hover .dropdown-menu {

  opacity: 1;
  visibility: visible;
  transform: translateY(0);

}



.dropdown-link {

  display: block;

  padding: 10px 20px;

  text-decoration: none;

  color: #0f172a;

}



.dropdown-link:hover {

  background: #f1f5f9;

  color: #10b981;

}
