/* GLOBAL FONT (NO index.html change) */
.users-section {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  background: #ffffff;
  padding: 64px 48px;
  margin-right: 1000px;
}

/* HEADING */
.users-heading {
  text-align: center;
  margin-bottom: 56px;
}

.users-heading h1 {
  font-size: 64px;
  font-weight: 800; /* Extra Bold */
  color: #000000;
  margin-bottom: 20px;
}

.users-heading h1 span {
  color: #3c9e60;
}

.users-heading p {
  font-size: 32px;
  font-weight: 500; /* Medium */
  color: #000000;
}

/* CARDS WRAPPER */
.users-cards {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 96px;
}


/* CARD */
.user-card {
  width: 340px;                 /* ↓ smaller */
  min-height: 420px;            /* ↓ smaller */
  padding: 24px 24px 28px;
  background: #ffffff;
  border: 1px solid #69d64e;
  will-change: transform;
  

  /* Figma-style edges */
  border: 1px solid #9bcf9a;    /* lighter green */
  border-right: 3px solid #488338;
  border-bottom: 3px solid #488338;
  border-radius: 12px;

  /* Subtle shadow (very light) */
  box-shadow:
    0px 4px 10px rgba(72, 131, 56, 0.12),
    0px 10px 22px rgba(72, 131, 56, 0.08);

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
}



/* ICON */
/* .user-icon {
  width: 64px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 8px;
} */

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 20px;
   display: flex;
  align-items: center;
  justify-content: center;
}


/* ICON COLORS */
.icon.blue {
  background: #2f80ed;
}

.icon.green {
  background: #27ae60;
}

.icon.purple {
  background: #bb6bd9;
}


/* TITLE */
.user-card h2 {
  font-size: 28px;
  font-weight: 800; /* Extra Bold */
  color: #000000;
  margin-bottom: 10px;
}

/* DESCRIPTION */
.user-desc {
  font-size: 18px;
  font-style: 'Inter', regular;
  font-weight: 400; /* Regular */
  color: #000000;
  margin-bottom: 25px;
  line-height: 1.4;
}

/* LIST */
.user-card ul {
  padding-left: 26px;
 
  
}

.user-card li {
  font-size: 16px;
  font-weight: 400; /* Regular */
  color: #000000;
  margin-bottom: 30px;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .users-cards {
    flex-direction: column;
    align-items: center;
  }
}

.user-card:hover {
  transform: translateY(-10px) scale(1.02);

  box-shadow:
    0px 12px 28px rgba(72, 131, 56, 0.18),
    0px 22px 40px rgba(72, 131, 56, 0.12);
}

